<%= form_for @reply, url: (@reply.persisted? ? reply_path : topic_replies_path) do |f| %>
  <%= render 'site/error_messages', object: f.object %>
  <div class='field mt-2'>
    <%= f.text_area :body %>
  </div>
  <div class='field float-right'>
    <label><%= t('.anonymous') %></label>
    <%= f.check_box :anonymous %>
  </div>
  <%= f.hidden_field :original_id %>
  <div class='mb-4'><%= recaptcha_tags %></div>
  <%= f.submit (@reply.persisted? ? 'Update' : t('.reply')), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn btn-secondary cancel-btn' %>
<% end %>
