<%= form_for @reply, url: (@reply.persisted? ? reply_path : topic_replies_path) do |f| %>
  <%= render 'site/error_messages', object: f.object %>
  <div class='field mt-2'>
    <%= f.text_area :body %>
  </div>
  <% if current_user.present? %>
    <% if @reply&.image_url.present? %>
      <div class='attached-image mb-2'><%= image_tag(@reply.image_url.to_s) %></div>
      <div class='mb-2'>
        <%= f.check_box :remove_image, style: 'height:16px' %>
        <label><%= t('.remove_image') %></label>
      </div>
    <% end %>
    <div class='field mb-4'>
      <label><%= t('.upload_image') %> (jpg, jpeg, gif, png)</label>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  <% end %>
  <div class='field float-right'>
    <label><%= t('.anonymous') %></label>
    <%= f.check_box :anonymous %>
  </div>
  <%= f.hidden_field :original_id %>
  <div class='mb-4 mt-5'>
    <%= f.submit (@reply.persisted? ? 'Update' : t('.reply')), class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-secondary cancel-btn' %>
  </div>
  <% unless current_user.present? %>
    <div><%= recaptcha_tags %></div>
  <% end %>
<% end %>
