<div class='reply mb-4' id='reply-<%= reply.id %>'>
  <div>
    <span class='timestamp'><%= time_ago_in_words(reply.updated_at) %></span>
    <% if @user.present? %>
       | <span><%= link_to t('.topic'), topic_path(reply.topic) %></span>
    <% end %>
  </div>
  <p><%= reply.body %></p>
  <div class='actions mb-4'>
    <% if reply_belongs_to_current_user?(reply) %>
      <span><%= link_to t('site.actions.edit'), edit_reply_path(reply) %></span> |
      <span><%= link_to t('site.actions.delete'), reply, method: :delete, data: { confirm: t('site.are_you_sure') } %></span>
    <% else %>
      <% unless current_user_thanked_reply?(reply) || current_user_demurred_to_reply?(reply) %>
        <span><%= link_to t('site.actions.helpful'), reply_thanks_path(reply), method: :post %></span> | 
        <span><%= link_to t('site.actions.not_helpful'), reply_demurrals_path(reply), method: :post %></span>
      <% end %>
      <% if current_user_thanked_reply?(reply) %>
        <% thank = current_user.thanks.find_by(reply_id: reply.id) %>
        <span><%= link_to t('site.actions.remove_thank'), thank, method: :delete, data: { confirm: t('site.are_you_sure') } %></span>
      <% elsif current_user_demurred_to_reply?(reply) %>
        <% demurral = current_user.demurrals.find_by(reply_id: reply.id) %>
        <span><%= link_to t('site.actions.remove_demurral'), demurral, method: :delete, data: { confirm: t('site.are_you_sure') } %></span>
      <% end %>
    <% end %>
  </div>
</div>
