<div class='reply mb-4' id='reply-<%= reply.id %>'>
  <div>
    <span class='timestamp'><%= link_to reply.updated_at.to_formatted_s(:short), reply_path(reply) %></span>
     | <span><%= link_to t('.topic'), topic_path(reply.topic) %></span>
    <% if reply.replies.any? && @reply.blank? %>
      | <span><%= link_to t('.reply'), reply_path(reply) %>(<%= reply.replies.count %>)</span>
    <% end %>
  </div>
  <div>
    <% if reply.image_url.present? %>
      <div class='attached-image mb-2 mr-2 mt-2'><%= link_to image_tag(reply.image_url.to_s), reply_path(reply) %></div>
    <% end %>
    <div class='the-reply'><p><%= link_to simple_format(reply.body), reply_path(reply) %></p></div>
  </div>
  <div class="post-link <%= reply.link? ? '' : 'd-none' %>">
    <div class='row'>
      <div class='image col-3'><%= image_tag(reply.topic_link.image_url) if reply.link? && reply.topic_link.image_url.present? %></div>
      <div class='description col-9'>
        <h4 class='border-bottom border-secondary font-weight-bold text-left'><%= link_to(reply.topic_link&.title , '#', id: 'link_url', target: '_blank') %></h4>
        <p><%= reply.topic_link&.description %></p>
      </div>
    </div>
  </div>
  <div class='actions mb-4'>
    <%= link_to new_topic_reply_path(topic_id: reply.topic.id, reply_id: reply.id) do %>
      <%= t('site.actions.reply') %><i class='far fa-comment'></i>
    <% end %>
    <% if reply.original.present? %>
      <%= link_to reply_path(reply.original) do %>
        <i class='fas fa-undo'></i>
      <% end %>
    <% end %>
    <% if reply_belongs_to_current_user?(reply) %>
      <span>
        <%= link_to edit_reply_path(reply) do %>
          <%= t('site.actions.edit') %><i class='fas fa-edit'></i>
        <% end %>
      </span>
      <span>
        <%= link_to reply, method: :delete, data: { confirm: t('site.are_you_sure') } do %>
          <%= t('site.actions.delete') %><i class='fas fa-trash-alt'></i>
        <% end %>
      </span>
    <% else %>
      <% unless current_user_thanked_reply?(reply) || current_user_demurred_to_reply?(reply) %>
        <span>
          <%= link_to reply_thanks_path(reply), method: :post do %>
            <i class='far fa-thumbs-up'></i>
          <% end %>
        </span>
      <% end %>
      <% if current_user_thanked_reply?(reply) %>
        <% thank = current_user.thanks.find_by(reply_id: reply.id) %>
        <span>
          <%= link_to thank, method: :delete, data: { confirm: t('site.are_you_sure') } do %>
            <i class='fas fa-thumbs-up'></i>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </div>
  <% if @show_replies && reply.replies.any? %>
    <% if reply.original.blank? %>
      <h4 class='ml-4 mt-4'><%= t('.follow_up') %></h4>
    <% end %>
    <div class='ml-4 mt-4'>
      <% reply.get_all_replies.each do |follow_up| %>
        <%= render partial: 'replies/reply', locals: { reply: follow_up } %>
      <% end %>
    </div>
  <% end %>
</div>
