<div id='bulletin-<%= bulletin.id %>'>
  <p><%= bulletin.body %></p>
  <div class='row'>
    <div class='col-md-4'>
      <div class='timestamp'><%= time_ago_in_words(bulletin.created_at) %> <%= t('site.passed_time') %></div>
    </div>
    <div class='col-md-8'>
      <div class='actions text-right mb-4'>
        <span><%= link_to 'reply', '#' %></span>
        <% if bulletin_belongs_to_current_user?(bulletin) %> 
           | <span><%= link_to 'edit', edit_bulletin_path(bulletin) %></span> | 
          <span><%= link_to 'delete', bulletin, method: :delete, data: { confirm: t('site.are_you_sure') } %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
