<%= form_for(@bulletin || Bulletin.new) do |f| %>
  <%= render 'site/error_messages', object: f.object %>
  <div class='field mb-4'>
    <%= f.text_area :body %>
  </div>
  <%= f.submit (@bulletin.present? ? t('.update_bulletin') : t('.post_to_friends')), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', user_path(current_user), class: 'btn btn-secondary cancel-btn' %>
<% end %>
