<%= form_for(@topic || Topic.new) do |f| %>
  <%= render 'site/error_messages', object: f.object %>
  <div class='field'>
    <%= f.text_area :subject %>
  </div>
  <div class='field float-right'>
    <label><%= t('.anonymous') %></label>
    <%= f.check_box :anonymous %>
  </div>
  <%= f.submit (@topic.present? ? t('.update_topic') : t('.post_to_public')), class: 'btn btn-secondary' %>
<% end %>
