<%= render partial: 'site/link_preview_js' if user_signed_in? %>

<%= form_for(@topic || Topic.new) do |f| %>
  <%= render 'site/error_messages', object: f.object %>
  <div class='field mt-2'>
    <%= f.text_area :subject %>
  </div>

  <div class="post-link <%= f.object.link? ? '' : 'd-none' %>">
    <div class='row'>
      <div id='link_image' class='image col-3'><%= image_tag(f.object.topic_link&.image_url || 'default_image.png') %></div>
      <div class='description col-9'>
        <div class='row border-bottom border-secondary'>
          <div class='col-9'>
            <h4 id='link_title' class='font-weight-bold text-left'><%= link_to(f.object.topic_link&.title , '#', id: 'link_url', target: '_blank') %></h4>
          </div>
          <div class='col-3 text-right'>
            <%= link_to t('site.actions.remove_link'), '#', class: 'text-right', id: 'remove_topic_link' %>
          </div>
        </div>
        <p id='link_description' class='mt-2'><%= f.object.topic_link&.description %></p>
      </div>
      <%= f.hidden_field :link_url, value: f.object.topic_link&.url %>
      <%= f.hidden_field :link_image_url, value: f.object.topic_link&.image_url %>
      <%= f.hidden_field :link_title, value: f.object.topic_link&.title %>
      <%= f.hidden_field :link_description, value: f.object.topic_link&.description %>
    </div>
  </div>

  <div class='field tags mb-4'>
    <label><%= t('.tag_examples') %></label><br />
    <%= text_field_tag :tags, @topic&.display_tags %>
  </div>
  <% if current_user.present? %>
    <% if @topic&.image_url.present? %>
      <div class='attached-image mb-2'><%= image_tag(@topic.image_url.to_s) %></div>
      <div class='mb-2'>
        <%= f.check_box :remove_image, style: 'height:16px' %>
        <label><%= t('.remove_image') %></label>
      </div>
    <% end %>
    <div class='field mb-4'>
      <label><%= t('.upload_image') %> (jpg, jpeg, gif, png)</label>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  <% end %>
  <div class='field float-right mb-4'>
    <label><%= t('.anonymous') %></label>
    <%= f.check_box :anonymous %>
  </div>
  <div class='mb-4 mt-5'>
    <%= f.submit (@topic.present? ? t('.update_topic') : t('.post_to_public')), class: 'btn btn-primary' %>
    <%= link_to 'Cancel', current_user.present? ? user_path(current_user) : root_path, class: 'btn btn-secondary cancel-btn' %>
  </div>
  <% unless current_user.present? %>
    <div><%= recaptcha_tags %></div>
  <% end %>
<% end %>
