<div class='mb-4' id='topic-<%= topic.id %>'>
  <div>
    <span class='timestamp'><%= link_to topic.updated_at.to_formatted_s(:short), topic_path(topic) %></span>
    <% if topic.replies.any? %>
      <span> | <%= link_to t('.replies'), topic_path(topic) %>(<%= topic.replies.count %>)</span>
    <% end %>
  </div>
  <div>
    <% if topic.image_url.present? %>
      <div class='attached-image mb-2 mr-2 mt-2'><%= link_to image_tag(topic.image_url.to_s), topic_path(topic) %></div>
    <% end %>
    <p class='the-topic'><%= topic.subject.truncate(256) %></p>
    <div class='row'>
      <div class='col-md-7'>
        <% topic.tags.each do |tag| %>
          <div class='tag'><%= link_to tag.name, tag_path(tag) %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
