<div class='mb-4' id='topic-<%= topic.id %>'>
  <div>
    <span class='timestamp'><%= link_to topic.updated_at.to_formatted_s(:short), topic_path(topic) %></span>
    <% if topic.replies.any? %>
      <span> | <%= link_to t('.replies'), topic_path(topic) %>(<%= topic.replies.count %>)</span>
    <% end %>
    <span> | </span>
    <% topic.tags.each do |tag| %>
      <div class='tag'><%= link_to tag.name, tag_path(tag) %></div>
    <% end %>
  </div>
  <div>
    <% if topic.image_url.present? %>
      <div class='attached-image mb-2 mr-2 mt-2'><%= link_to image_tag(topic.image_url.to_s), topic_path(topic) %></div>
    <% end %>
    <p class='the-topic'><%= link_to topic.subject.truncate(256), topic_path(topic) %></p>
    <div class="post-link <%= topic.link? ? '' : 'd-none' %>">
      <div class='row'>
        <div class='image col-3'><%= image_tag(topic.topic_link.image_url) if topic.link? && topic.topic_link.image_url.present? %></div>
        <div class='description col-9'>
          <h4 class='border-bottom border-secondary font-weight-bold text-left'><%= link_to(topic.topic_link&.title , '#', id: 'link_url', target: '_blank') %></h4>
          <p><%= topic.topic_link&.description %></p>
        </div>
      </div>
    </div>
    <div>
      <%= link_to new_topic_reply_path(topic) do %>
        <%= t('site.actions.reply') %><i class='far fa-comment'></i>
      <% end %>
    </div>
  </div>
</div>
