<div class='mb-4' id='topic-<%= topic.id %>'>
  <div>
    <span class='timestamp'><%= link_to topic.updated_at.to_formatted_s(:short), topic_path(topic) %></span>
    <% if topic.tags.present? %>
      <span> | </span>
      <% topic.tags.each_with_index do |tag, index| %>
        <span class='tag'><%= link_to tag.name, tag_path(tag) %><%= ', ' unless index == topic.tags.count - 1 %></span>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if topic.image_url.present? %>
      <div class='attached-image mb-2 mt-2'><%= link_to image_tag(topic.image_url.to_s), topic_path(topic) %></div>
    <% end %>
    <p class='the-topic'><%= link_to topic.subject.truncate(256), topic_path(topic) %></p>
  </div>
  <div class="post-link <%= topic.link? ? '' : 'd-none' %>">
    <div class='row'>
      <div class='image col-3'><%= image_tag(topic.topic_link.image_url) if topic.link? && topic.topic_link.image_url.present? %></div>
      <div class='description col-9'>
        <h4 class='border-bottom border-secondary font-weight-bold text-left'><%= link_to(topic.topic_link&.title , '#', id: 'link_url', target: '_blank') %></h4>
        <p><%= topic.topic_link&.description %></p>
      </div>
    </div>
  </div>

  <% unless topic.anonymous %>
    <span class='poster-email'> -- <%= topic.user.email %></span>
  <% end %>

  <div class='row'>
    <div class='col'>
      <div class='actions'>
        <span>
          <%= link_to new_topic_reply_path(topic) do %>
            <%= t('site.actions.reply') %><i class='far fa-comment'></i>
          <% end %>
        </span>
        <% if topic_belongs_to_current_user?(topic) %>
          <span>
            <%= link_to edit_topic_path(topic) do %>
              <%= t('site.actions.edit') %><i class='fas fa-edit'></i>
            <% end %>
          </span>
          <span>
            <%= link_to topic, method: :delete, data: { confirm: t('site.are_you_sure') } do %>
              <%= t('site.actions.delete') %><i class='fas fa-trash-alt'></i>
            <% end %>
          </span>
        <% else %>
          <% unless current_user_bumped_topic?(topic) || current_user_objected_to_topic?(topic)  %>
             <span>
              <%= link_to topic_bumps_path(topic), method: :post do %>
                <i class='far fa-thumbs-up'></i>
              <% end %>
            </span>
          <% end %>
          <% if current_user_bumped_topic?(topic) %>
            <% bump = current_user.bumps.find_by(topic_id: topic.id) %>
             <span>
                <%= link_to bump, method: :delete, data: { confirm: t('site.are_you_sure') } do %>
                  <i class='fas fa-thumbs-up'></i>
                <% end %>
             </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @with_objections %>
    <% objection = topic.objections.find_by(user_id: current_user.id) %>
    <% if objection.present? %>
      <div class='m-4'>
        <h4><%= t('.my_objection') %></h4>
        <div class='mt-2'><%= objection.body %></div>
        <div class='actions'>
          <span>
            <%= link_to edit_objection_path(objection) do %>
              <i class='fas fa-edit'></i>
            <% end %>
          </span> |
          <span>
            <%= link_to objection, method: :delete, data: { confirm: t('site.are_you_sure') } do %>
              <i class='fas fa-trash-alt'></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
