<div id='topic-<%= topic.id %>'>
  <div class='timestamp'><%= time_ago_in_words(topic.created_at) %> <%= t('site.passed_time') %></div>
  <p><%= topic.subject %></p>
  <div class='actions mb-4'>
    <span><%= link_to 'reply', '#' %></span> | 
    <span><%= link_to 'edit', edit_topic_path(topic) %></span> | 
    <span><%= link_to 'delete', topic, method: :delete, data: { confirm: t('site.are_you_sure') } %></span>
  </div>
</div>
