<div class='mb-4' id='topic-<%= topic.id %>'>
  <div class='timestamp'><%= time_ago_in_words(topic.updated_at) %></div>
  <p><%= topic.subject %></p>
  <div class='row'>
    <div class='col-md-8'>
      <% topic.tags.each do |tag| %>
        <div class='tag'><%= link_to tag.name, tag_path(tag) %></div>
      <% end %>
    </div>
    <div class='col-md-4 text-right'>
      <div class='actions'>
        <span><%= link_to t('site.actions.reply'), new_topic_reply_path(topic) %></span>
        <% if topic_belongs_to_current_user?(topic) %>
           | <span><%= link_to t('site.actions.edit'), edit_topic_path(topic) %></span>
           | <span><%= link_to t('site.actions.delete'), topic, method: :delete, data: { confirm: t('site.are_you_sure') } %></span>
        <% else %>
          <% unless current_user_bumped_topic?(topic) || current_user_objected_to_topic?(topic)  %>
             | <span><%= link_to t('site.actions.bump'), topic_bumps_path(topic), method: :post %></span>
             | <span><%= link_to t('site.actions.object'), new_topic_objection_path(topic) %></span>
          <% end %>
          <% if current_user_bumped_topic?(topic) %>
            <% bump = current_user.bumps.find_by(topic_id: topic.id) %>
             | <span><%= link_to t('site.actions.remove_bump'), bump, method: :delete, data: { confirm: t('site.are_you_sure') } %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
