<div id='topic-<%= topic.id %>'>
  <div class='tags'>
    <% topic.tags.each_with_index do |tag, index| %>
      <%= link_to tag.name, tag_path(tag) %><%= ',' unless index == (topic.tags.length - 1) %>
    <% end %>
  </div>
  <p><%= topic.subject %></p>
  <div class='row'>
    <div class='col-md-4'>
      <div class='timestamp'><%= link_to "#{time_ago_in_words(topic.created_at)} #{t('site.passed_time')}", topic_path(topic) %></div>
    </div>
    <% if user_signed_in? %>
      <div class='col-md-8'>
        <div class='actions text-right mb-4'>
          <span><%= link_to t('site.actions.reply'), new_topic_reply_path(topic) %></span>
          <% if topic_belongs_to_current_user?(topic) %>
             | <span><%= link_to t('site.actions.edit'), edit_topic_path(topic) %></span>
             | <span><%= link_to t('site.actions.delete'), topic, method: :delete, data: { confirm: t('site.are_you_sure') } %></span>
          <% else %>
            <% unless current_user_bumped_topic?(topic) %>
               | <span><%= link_to t('site.actions.bump'), topic_bumps_path(topic), method: :post %></span>
            <% end %>
            <% unless current_user_objected_to_topic?(topic) %>
               | <span><%= link_to t('site.actions.object'), new_topic_objection_path(topic) %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
