<div class='mb-4' id='topic-<%= topic.id %>'>
  <% if topic.image_url.present? %>
    <div class='attached-image mb-2 mt-2'><%= image_tag(topic.image_url.to_s) %></div>
  <% end %>
  <div class='timestamp'><%= topic.updated_at.to_formatted_s(:short) %></div>
  <p><%= simple_format(topic.subject) %></p>
  <div class='row'>
    <div class='col-md-8'>
      <% topic.tags.each do |tag| %>
        <div class='tag'><%= link_to tag.name, tag_path(tag) %></div>
      <% end %>
    </div>
    <div class='col-md-4 text-right'>
      <div class='actions'>
        <span>
          <%= link_to new_topic_reply_path(topic) do %>
            <i class='far fa-comment'></i>
          <% end %>
        </span>
        <% if topic_belongs_to_current_user?(topic) %>
          <span>
            <%= link_to edit_topic_path(topic) do %>
              <i class='fas fa-edit'></i>
            <% end %>
          </span>
          <span>
            <%= link_to topic, method: :delete, data: { confirm: t('site.are_you_sure') } do %>
              <i class='fas fa-trash-alt'></i>
            <% end %>
          </span>
        <% else %>
          <% unless current_user_bumped_topic?(topic) || current_user_objected_to_topic?(topic)  %>
             <span>
              <%= link_to topic_bumps_path(topic), method: :post do %>
                <i class='far fa-thumbs-up'></i>
              <% end %>
            </span>
            <span>
              <%= link_to new_topic_objection_path(topic) do %>
                <i class='far fa-thumbs-down'></i>
              <% end %>
            </span>
          <% end %>
          <% if current_user_bumped_topic?(topic) %>
            <% bump = current_user.bumps.find_by(topic_id: topic.id) %>
             <span>
                <%= link_to bump, method: :delete, data: { confirm: t('site.are_you_sure') } do %>
                  <i class='fas fa-thumbs-up'></i>
                <% end %>
             </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @with_objections %>
    <% objection = topic.objections.find_by(user_id: current_user.id) %>
    <% if objection.present? %>
      <div class='m-4'>
        <h4><%= t('.my_objection') %></h4>
        <div class='mt-2'><%= objection.body %></div>
        <div class='actions'>
          <span>
            <%= link_to edit_objection_path(objection) do %>
              <i class='fas fa-edit'></i>
            <% end %>
          </span> |
          <span>
            <%= link_to objection, method: :delete, data: { confirm: t('site.are_you_sure') } do %>
              <i class='fas fa-trash-alt'></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
