<div class='container'>
  <div class='topic'><%= render partial: 'topic', locals: { topic: @topic } %></div>

  <% if @replies.any? %>
    <h4 class='mt-4'>
      <span><%= t('.replies') %></span>
      <span>
        <%= link_to topic_path(@topic, order: 'up') do %>
          <%= t('site.actions.oldest_on_top') %><i class='fas fa-long-arrow-alt-up'></i>
        <% end %>
      </span>
      <span>
        <%= link_to topic_path(@topic, order: 'down') do %>
          <%= t('site.actions.newest_on_top') %><i class='fas fa-long-arrow-alt-down'></i>
        <% end %>
      </span>
      <span>
        <%= link_to topic_path(@topic, order: 'sideways') do %>
          <%= t('site.actions.indented') %><i class='fas fa-long-arrow-alt-right'></i>
        <% end %>
      </span>
    </h4>
    <div class='ml-4 mt-4'><%= render partial: 'replies/list' %></div>
  <% end %>
</div>

