<div class='container user'>
  <div class='row'>
    <div class='col-md not-too-wide'>
      <h2><%= t('.public_heading') %></h2>
      <div><%= render partial: 'topics/form' %></div>

      <div class='navigation'>
        <div class='heading mb-4'>
          <div class='tabs'>
            <div class="tab <%= params[:show].present? ? '' : 'active' %>"><h3><%= link_to t('.my_public_discussions'), user_path(@user) %></h3></div>
            <div class="tab <%= (params[:show] == 'replies') ? 'active' : '' %>"><h3><%= link_to t('.my_public_replies'), user_path(@user, show: 'replies') %></h3></div>
            <div class="tab <%= (params[:show] == 'answers') ? 'active' : '' %>"><h3><%= link_to t('.my_public_answers'), user_path(@user, show: 'answers') %></h3></div>
          </div>
        </div>
      </div>
      <div class='posts'>
        <% if params[:show].blank? %>
          <div class='mt-4'><%= render partial: 'topics/list' %></div>
        <% elsif params[:show] == 'replies' %>
          <div class='mt-4'><%= render partial: 'replies/list' %></div>
        <% elsif params[:show] == 'answers' %>
          <div class='mt-4'><%= render partial: 'replies/list' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
