<div class='container user'>
  <div class='row'>
    <div class='col-md'>
      <h2><%= t('.friend_heading') %></h2>
      <div><%= render partial: 'bulletins/form' %></div>

      <% if @user.bulletins.any? %>
        <div class='mt-4'><%= render partial: 'bulletins' %></div>
      <% end %>
    </div>

    <div class='col-md'>
      <h2><%= t('.public_heading') %></h2>
      <div><%= render partial: 'topics/form' %></div>

      <% if @user.topics.any? %>
        <div class='mt-4'><%= render partial: 'topics' %></div>
      <% end %>
    </div>
  </div>
</div>
