<div class='container user'>
  <div class='row'>
    <div class='col-md not-too-wide'>
      <h2><%= t('.public_heading') %></h2>
      <div><%= render partial: 'topics/form' %></div>

      <% if @user.topics.any? %>
        <div class='mt-4'><%= render partial: 'topics/list' %></div>
      <% end %>
    </div>

    <% if false # start with the public discussions %>
      <div class='col-md'>
        <h2><%= t('.friend_heading') %></h2>
        <div><%= render partial: 'bulletins/form' %></div>

        <% if @user.bulletins.any? %>
          <div class='mt-4'><%= render partial: 'bulletins' %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
