<main role='main'>
  <div class='jumbotron'>
    <div class='container'>
      <h1 class='display-3'><%= t('.welcome_heading') %></h1>
      <p><%= t('.what_we_do') %></p>
      <% unless user_signed_in? %>
        <%= link_to t('site.actions.sign_up'), new_user_registration_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class='container'>
    <!-- Example row of columns -->
    <div class='row'>
      <% @tags.each_with_index do |tag, index| %>
        <p><%= link_to tag, tag_path(Tag.first_with_name(tag)) %><%= ',' unless index == (@tags.length - 1)%>&nbsp;</p>
      <% end %>
    </div>
  </div> <!-- /container -->
</main>
