<main role='main'>
  <div class='jumbotron'>
    <div class='container'>
      <h1 class='display-3'><%= t('.welcome_heading') %></h1>
      <p><%= t('.what_we_do') %></p>
      <% unless user_signed_in? %>
        <%= link_to t('site.sign_up'), new_user_registration_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class='container'>
    <!-- Example row of columns -->
    <div class='row'>
      <% @topics.each do |topic| %>
        <div class='col-md-6'>
          <div class='timestamp'><%= time_ago_in_words(topic.created_at) %> <%= t('site.passed_time') %></div>
          <p><%= topic.subject %></p>
        </div>
      <% end %>
    </div>
  </div> <!-- /container -->
</main>
