<main role='main'>
  <div class='jumbotron'>
    <div class='container'>
      <h1 class='display-3'><%= t('.welcome_heading') %></h1>
      <p><%= t('.what_we_do') %></p>
      <% unless user_signed_in? %>
        <div class='mt-4'>
          <span><%= link_to t('site.actions.sign_up'), new_user_registration_path, class: 'btn btn-primary' %></span>
          <span><%= link_to t('site.actions.post_as_guest'), new_topic_path, class: 'btn btn-secondary' %></span>
      </div>
      <% end %>
    </div>
  </div>

  <div class='container'>
    <div class='topic-navigation'>
      <div class='heading mb-4'>
        <div class='title'>
          <h2><%= t('.topics') %></h2>
        </div>
        <div class='tabs'>
          <div class="tab recent mr-1 <%= params[:sort].present? ? '' : 'active' %>"><%= link_to t('.recent_topics'), root_path %></div>
          <div class="tab activity <%= params[:sort].present? ? 'active' : '' %>"><%= link_to t('.topics_with_activity'), root_path(sort: 'activity') %></div>
        </div>
      </div>
    </div>
    <div class='row no-gutters'>
      <div class='topic posts'>
        <% @topics.each do |topic| %>
          <%= render partial: 'topics/homepage', locals: {topic: topic} %>
        <% end %>
      </div>
      <div class='apple_pagination'><%= will_paginate @topics %></div>
    </div>
</main>
