<main role='main'>
  <div class='jumbotron'>
    <div class='container'>
      <h1 class='display-3'><%= t('.welcome_heading') %></h1>
      <p><%= t('.what_we_do') %></p>
      <% unless user_signed_in? %>
        <div class='mt-4'><%= link_to t('site.actions.sign_up'), new_user_registration_path, class: 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>

  <div class='container'>
    <div class='topic-navigation'>
      <h4>
        <span><%= link_to t('.recent_topics'), root_path %></span>
         | 
        <span><%= link_to t('.topics_with_activity'), root_path(sort: 'replies') %></span>
    </h4>
    <hr>
    </div>
    <div class='row no-gutters'>
      <div class='topic posts'>
        <% @topics.each do |topic| %>
          <%= render partial: 'topics/homepage', locals: {topic: topic} %>
          <%= will_paginate @topics %>
        <% end %>
      </div>
    </div>
</main>
