<nav class='navbar navbar-light bg-light navbar-expand-md fixed-top'>
  <%= link_to 'RinchanEki', root_path, class: 'navbar-brand' %>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarsRinchan' aria-controls='navbarsRinchan' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarsRinchan'>
    <ul class='navbar-nav mr-auto'>
      <% if user_signed_in? %>
        <% if false # we will get to friends %>
          <li class='nav-item'>
            <%= link_to I18n.t('site.friends'), '#', class: 'nav-link' %>
          </li>
        <% end %>
        <li class='nav-item'>
          <%= link_to I18n.t('site.me'), user_path(current_user), class: 'nav-link' %>
        </li>
        <li class='nav-item dropdown'>
          <%= link_to current_user.email&.truncate(14), '#', class: 'nav-link dropdown-toggle', id: 'dropdown01', 'data-toggle': 'dropdown' %>
          <div class='dropdown-menu' aria-labelledby='dropdown01'>
            <%= link_to I18n.t('site.edit_profile'), edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to I18n.t('site.actions.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class='nav-item'>
          <%= link_to(I18n.t('site.actions.sign_in'), user_session_path, class: 'nav-link') %>
        </li>
      <% end %>
    </ul>
    <%= form_tag(search_path, id: "search-form", method: :get, class: 'form-inline my-2 my-lg-0') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control mr-sm-2' %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>

<% flash.each do |key, message| %>
  <p role='alert' class='<%= key == 'notice' ? 'alert alert-success' : 'alert alert-warning' %>'><%= message %></p>
<% end %>
