<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/google' %>
    <title>RinchanEki</title>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity: 'sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Fjalla+One|Open+Sans|Libre+Franklin:300,400,600,700&amp;lang=en' %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class='<%= "rinchan #{controller.controller_name} #{controller.action_name}" %> container'>
    <%= render partial: 'site/navigation' %>
    <%= yield %>
    <%= render partial: 'site/footer' %>
  </body>
</html>
