<div class='container'>
  <h2 class='mt-2'><%= t('site.actions.sign_up') %></h2>

  <div class='row'>
    <div class='col-md'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class='field mt-3 email'>
          <label><%= t('site.email') %></label><br />
          <%= f.email_field :email, autofocus: true, required: true, autocomplete: 'email' %>
        </div>

        <div class='field mt-2 name'>
          <label><%= t('site.name') %></label><br />
          <%= f.text_field :name, required: true %>
        </div>

        <div class='field mt-2 password'>
          <label><%= t('site.password') %></label><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%= t('site.minimum_characters') %>)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: 'off' %>
        </div>

        <div class='actions mt-4'>
          <%= f.submit t('site.actions.sign_up'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='mt-3'><%= render 'users/shared/links' %></div>
</div>
